# DS3000 Day 1

Sept. 9, 2025

Admin
- Modules to install today `pip install collections seaborn numpy pandas` (you may not *need* to do all these, but why not?)
or `pip3 install collections seaborn numpy pandas`
  - If you don't have python and a way to edit jupyter notebooks, now's the time!
- Homework 1 due this Friday, Sept. 12 before midnight. **EC Dealine** Wednesday at 11:59 PM
- Getting to know you Due on Fri., Sep 12th [Link](https://forms.gle/25EiBnKUVgsU9Rta7)

Push-Up Tracker
- Section 03: 0
- Section 04: 0
- Section 05: 0

Content
- pandas
    - series
    - dataframe
- APIs

# Pandas


*   My nickname is Panda (Look at my cute picture)

<img src="https://images.ctfassets.net/rt5zmd3ipxai/25pHfG94sGlRALOqbRvSxl/9f591d8263607fdf923b962cbfcde2a9/NVA-panda.jpg" width=700 />


Pandas is a python module which stores data.  

### If we already have `np.array()`, why do we need pandas?
- pandas supports non numeric data (strings for categorical data, for example)
- pandas supports reading / storing data from more formats
    - csv (spreadsheets)
- pandas more elegantly deals with missing data
- pandas handles indexing woes

You could do almost everything pandas does with numpy arrays ... but it would be much more difficult to accomplish.

### Pandas has two essential objects:
- **dataframe**
    - 2 dimensional data structure
    - you've already seen one today!  (we replicate below)
- **series (vectors)**
    - 1 dimensional data structure, each item associated with some index
    - you could store the weight of all the penguins as a series
        - (all samples of one feature)
    - you could store the weight, bill size, sex, island, etc for a single penguin as a series
        - (all features for one sample)

In [1]:
import seaborn as sns

# df stands for dataframe.  df_penguin is a dataframe of penguin data
df_penguin = sns.load_dataset('penguins')
df_penguin.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## Pandas Series
### building:
- building: default index
- building: custom index
- building: from a dict

In [2]:
# each row, or column is a series object
# this represents first row of dataframe
penguin0_series = df_penguin.iloc[0, :]
penguin0_series

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       Male
Name: 0, dtype: object

Pandas series contain a sequence of labelled data elements:
- penguin0's `species` is `Adelie`
- penguin0's `island` is `Torgersen`
- penguin0's `bill_length_mm` is `39.1` ...
- penguin0's `<index-name>` is `<corresponding-value>`

A series is quite similar to a dictionary ...

In [3]:
penguin0_dict = {'species': 'Adelie',
 'island': 'Torgersen',
 'bill_length_mm': 39.1,
 'bill_depth_mm': 18.7,
 'flipper_length_mm': 181.0,
 'body_mass_g': 3750.0,
 'sex': 'Male'}

In [4]:
import pandas as pd

# build a series from dict
penguin0_series = pd.Series(penguin0_dict)
penguin0_series

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       Male
dtype: object

In [5]:
# you can also pass two corresponding lists / tuples
index = ['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex']
values = ['Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'Male']

penguin0_series = pd.Series(values, index=index)
penguin0_series

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       Male
dtype: object

In [6]:
# you can access values via .values
penguin0_series.values

array(['Adelie', 'Torgersen', 39.1, 18.7, 181.0, 3750.0, 'Male'],
      dtype=object)

In [7]:
# you can access index via .index
penguin0_series.index

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

### Using Series (hey, don't they look a little like dictionaries?)
- casting dictionaries to series
- accessing custom index:
    - by name: `series.loc[name]`
    - by position: `series.iloc[idx]`
- iterating: keys, items, iteritems (much like dict)
- deleting an entry

## There are two ways using iloc and loc:

- loc gets rows (and/or columns) with particular labels.
- iloc gets rows (and/or columns) at integer locations.

s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 

49    a

48    b

47    c

0     d

1     e

2     f

s.loc[0]    # value at index label 0
'd'

s.iloc[0]   # value at index location 0
'a'

s.loc[0:1]  # rows at index labels between 0 and 1 (inclusive)
0    d
1    e

s.iloc[0:1] # rows at index location between 0 and 1 (exclusive)
49    a

In [20]:
dict_fav_num = {'mohit':  17, 'qi': 7, 'lynne': 3, 'tamrat': 1}
series_fav_num = pd.Series(dict_fav_num)
series_fav_num

mohit     17
qi         7
lynne      3
tamrat     1
dtype: int64

In [21]:
# lookup value associated with index='mohit'
series_fav_num['mohit']

np.int64(17)

In [23]:
# another way to lookup value associated with index='mohit'
series_fav_num.loc['mohit']

np.int64(17)

In [ ]:
# return the value in position 2 (the third position, from top)
series_fav_num.iloc[1]

7

In [ ]:
# each of these access methods can also set the value
series_fav_num.iloc[2] = 1000
series_fav_num

eric        17
qi           7
lynne     1000
tamrat       1
dtype: int64

## Pandas: DataFrame

Remember:
- `Series`:  1d data object
- `DataFrame`: 2d data object

`DataFrame`s represent two-dimensional data, for example, grades:

|           | Quiz 0 | Quiz 1 | Quiz 2 |
|-----------|--------|--------|--------|
| Student 0 | 80     | 90     | 50     |
| Student 1 | 87     | 92     | 80     |

Each column or row above could be considered a `Series` object (as we'll see later, we can indeed extract a single row or column of a dataframe as a `Series` object).

In [1]:
import pandas as pd
import numpy as np

quiz_array = np.array([[80, 90, 50],
                 [87, 92, 80]])

df_quiz = pd.DataFrame(quiz_array,
                       columns=('quiz0', 'quiz1', 'quiz2'),
                       index=('student0', 'student1'))
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

In [ ]:
# we construct a dataframe as a dictionary
# keys of the dictionary are columns of dataframe
# values are lists (or tuples) of the values in each column
quiz_dict = {'quiz0': [80, 87],
            'quiz1': [90, 92],
            'quiz2': [50, 80]}
pd.DataFrame(quiz_dict, index=('student0', 'student1'))

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

In [ ]:
# could also use .transpose() or even .T
df_quiz.transpose()
# df_quiz.T

       student0  student1
quiz0        80        87
quiz1        90        92
quiz2        50        80

## Indexing / Accessing a DataFrame
- indexing:
    - `.loc[]` indexing by name of row or column
    - `.iloc[]` indexing by position integer (0, 1, 2, 3, 4 ...)
    & slicing & subsets
- using `:` to get full rows or columns
- single cell's contents: `at`, `iat` & slicing

In [ ]:
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

In [ ]:
# indexing data by "name"
# remember: rows first, then columns ...
# 1st entry describes which row ('student0')
# 2nd entry describes which col ('quiz0')

df_quiz.loc['student0', 'quiz0']

80

In [ ]:
# index data by position
# 1st entry describes which row.  0 -> the 1st (topmost) row
# 2nd entry describes which col.  2 -> the 3rd (from the left) col
df_quiz.iloc[0, 2]

50

In [ ]:
# you can use same slicing syntaxes on both .loc and .iloc
# 1st row, last col
df_quiz.iloc[0, -1]

50

In [ ]:
# all rows, only the second col
df_quiz.iloc[:, 1]

student0    90
student1    92
Name: quiz1, dtype: int32

In [ ]:
# all rows, only quiz0
df_quiz.loc[:, 'quiz0']

student0    80
student1    87
Name: quiz0, dtype: int32

In [ ]:
# slicing with named cols and rows
# you can get a range, by name of row/col
# note: this includes both start and stop columns
df_quiz.loc['student0', 'quiz0':'quiz2' ]

quiz0    80
quiz1    90
quiz2    50
Name: student0, dtype: int32

In [ ]:
# watch out:
# when you get ranges indexed by position: include start idx, exclude stop idx)
df_quiz.iloc[0, 0:2 ]

quiz0    80
quiz1    90
Name: student0, dtype: int32

In [ ]:
# if you access directly into dataframe, it will assume you're looking for a column
# (below is equivilent to df_quiz.loc[:, 'quiz0'])
df_quiz['quiz0']

student0    80
student1    87
Name: quiz0, dtype: int32

loc gets rows (and/or columns) with particular labels.

iloc gets rows (and/or columns) at integer locations.

Additionally, `s.loc[0:2]`  # rows at index labels between 0 and 1 (inclusive) so this means 0, 1 and 2
`s.iloc[0:2]`  # rows at index labels between 0 and 1 (exclusive), so that means 0th and 1st


<img src='https://media1.giphy.com/media/l2R01mSIsazqNQ7ks/giphy.gif?cid=6c09b952x9z29ab4af9xpluk4vjxwzu6tm0nacgw1qxi8e5f&ep=v1_gifs_search&rid=giphy.gif&ct=g' width=700 />

## Modifying a DataFrame
- updating values: single cell
- adding a new column
- `pd.DataFrame.append()` and `pd.DataFrame.concat()`
    - adds a single row to a dataframe
    - `.append()` is deprecated, and may not work depending on your version of Python! Has been replaced with `.concat()` (which we use here)

In [26]:
# setting single entry in dataframe
df_quiz.loc['student0', 'quiz1'] = 123
df_quiz

          quiz0  quiz1  quiz2
student0     80    123     50
student1     87     92     80

In [27]:
# adding a new column (which student got which grade?)
# notice data frames can include columns of multiple types!
df_quiz['overall grade'] = 'a', 'b'
df_quiz

          quiz0  quiz1  quiz2 overall grade
student0     80    123     50             a
student1     87     92     80             b

In [28]:
# delete a column
del df_quiz['overall grade']
df_quiz

# There is another way of deleteing a coloumn which is by using the drop()
# function df.drop('column_name', axis=1)

          quiz0  quiz1  quiz2
student0     80    123     50
student1     87     92     80

In [30]:
# adding a column (next 2 cells) more error robust way of handling indexing
# by explicitly labelling the index we're sure to match more explicitly
s_overgrade = pd.Series({'student1': 'b-',
                         # 'student0': 'a+',
                        'student2': 'f (no quizzes taken)'})
s_overgrade

student1                      b-
student2    f (no quizzes taken)
dtype: object

In [31]:
# notice how pandas helps us out in aligning our new column with proper row
# (and avoids including student2)
df_quiz['overall grade'] = s_overgrade
df_quiz

          quiz0  quiz1  quiz2 overall grade
student0     80    123     50           NaN
student1     87     92     80            b-

In [ ]:
# how to 'drop' a row (returns a dataframe with row removed)
df_quiz_short = df_quiz.drop('student0')
df_quiz_short

          quiz0  quiz1  quiz2 overall grade
student1     87     92     80            b-

In [ ]:
# rebuild df_quiz
quiz_dict = {'quiz0': [80, 87],
            'quiz1': [90, 92],
            'quiz2': [50, 80]}
df_quiz = pd.DataFrame(quiz_dict, index=('student0', 'student1'))
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

In [ ]:
# Do you think that name thing will work for this example:
quiz_dict = {'quiz0': [80, 87],
            'quiz1': [90, 92],
            'quiz2': [50, 80]}
df_quiz = pd.DataFrame(quiz_dict, index=('student0', 'student1'),name="Student")
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

pd.series have some more parameters : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

pd.dataframe: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [ ]:
# add new row to dataframe
pd.concat([df_quiz, s_student3.to_frame().T])

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80
student3     95     90    100

In [ ]:
# also notice: .concat() returns a copy of df_quiz, it isn't modified above
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80

In [ ]:
# thus, must overwrite:
df_quiz = pd.concat([df_quiz, s_student3.to_frame().T])
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80
student3     95     90    100

In [ ]:
# adding a column that is a function of other columns:
df_quiz['average'] = (df_quiz['quiz0'] + df_quiz.quiz1 + df_quiz.quiz2)/3
df_quiz

          quiz0  quiz1  quiz2    average
student0     80     90     50  73.333333
student1     87     92     80  86.333333
student3     95     90    100  95.000000

In [ ]:
df_quiz.average

student0    73.333333
student1    86.333333
student3    95.000000
Name: average, dtype: float64

### Boolean Indexing into DataFrame

Sometimes we want to grab only the rows or columns which meet a particular condition.

"Get all students whose grade was higher than 85 on quiz 1"

In [5]:
quiz_dict = {'quiz0': [80, 87, 60, 30],
            'quiz1': [90, 92, 60, 23],
            'quiz2': [50, 80, 70, 64]}
df_quiz = pd.DataFrame(quiz_dict, index=('student0', 'student1', 'student2', 'student3'))
df_quiz

          quiz0  quiz1  quiz2
student0     80     90     50
student1     87     92     80
student2     60     60     70
student3     30     23     64

In [6]:
# we can build more complex conditions using
# & (and operator)
# | (or operator)

# all students who got at least an 80 on quiz1 but scored less than 75 on quiz2
s_bool = (df_quiz.loc[:, 'quiz1'] >= 80) & (df_quiz.quiz2  < 75)
s_bool

student0     True
student1    False
student2    False
student3    False
dtype: bool

In [7]:
df_quiz.loc[s_bool, :]

          quiz0  quiz1  quiz2
student0     80     90     50

# Loading Data into Pandas

Data comes from many places:
- Web Scraping
- Application Program Interface (API)
- SQL
- local file:
    - csv
    - JSON
    - fixed width tables (HTML)
    
### Pandas functions which load data
| Mode | Description
| ------ | :------
| **`read_csv`** | Load comma seperated values data from a file or URL (other delimeters too!)
| **`read_xlsx`** | Read data in xls format (Mircosoft Excel)
| **`read-fwf`** | Read data in fixed-width column format (i.e., no delimiters such as tab-separated txt files)
| **`read_clipboard`** | Version of read_csv that reads data from the clipboard; useful for converting tables from web pages
| **`read_html`** | Read all tables contained in the given HTML document.
| **`read_json`** | Read data from a JSON (JavaScript Object Notation) string representation

## Reading CSV into Pandas
- read_csv
- index_col
- header

In [6]:
import pandas as pd
# note: file must be in same folder as jupyter notebook
pd.read_csv('day-1dataset.csv')

,Restaurant,Latitude,Longitude,Address,PlaceID,URL,AverageExposure,Stars,ZIP,Count,...,HED,Unemployment,HUne,Wealth,HWe,Attraction,Hotspot,Reviews,Amenities,Amenity_Count
0,61Sliders,61.149140,-149.878090,"7920 King St, Anchorage, AK 99518",-,/biz/61sliders-anchorage?osq=Restaurants,0.124478,3.6,99507,22,...,0,4.7,1,88485,0,1,0,1,Classy,1
1,907 Alehouse & Grill,61.148140,-149.863132,"8001 Old Seward Hwy, Anchorage, AK 99518, Unit...",ChIJsX90-NaZyFYRGJ_WD0iQlaA,/biz/907-alehouse-and-grill-anchorage?osq=Rest...,0.130601,3.4,99503,93,...,0,7.9,1,63338,0,0,1,135,Takes Reservations\nOffers Takeout\nNo Deliver...,22
2,907 Wingman,61.188415,-149.907983,"3505 Spenard Rd, Anchorage, AK 99503, United S...",ChIJ4-dvWd2XyFYR-dL2s0DiD_0,/biz/907-wingman-anchorage?osq=Restaurants,0.109058,4.1,99508,9,...,0,6.5,1,65430,0,1,1,110,Offers Delivery\nOffers Takeout\nNo Reservatio...,17
3,AK Alchemist,61.218773,-149.882808,"103 E 4th Ave, Anchorage, AK 99501, United States",ChIJt_B88yiWyFYRZQB7I68Jokk,/biz/ak-alchemist-anchorage?osq=Restaurants,0.164824,3.8,99501,58,...,0,7.2,1,61509,0,1,1,178,Offers Delivery\nOffers Takeout\nNo Reservatio...,3
4,Alaska Crepery,61.217756,-149.888169,"319 W 5th Ave, Anchorage, AK 99501, United States",ChIJC6dwVAyXyFYR0ZZMmzzULww,/biz/alaska-crepery-anchorage-2?osq=Restaurants,0.161754,4.5,99507,22,...,0,4.7,1,88485,0,1,1,164,Takes Reservations\nOffers Delivery\nOffers Ta...,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,Yakishabu Sushi House,61.144031,-149.892769,"720 W Dimond Blvd, Anchorage, AK 99515, United...",ChIJMdQzoAOZyFYR1rEIFO_2Wyo,/biz/yakishabu-sushi-house-anchorage-4?osq=Res...,0.184925,3.9,99515,39,...,1,4.0,1,106755,1,0,0,32,"Offers Delivery\nOffers Takeout\nCasual, Trend...",9
287,Yamaya Seafood Restaurant,61.216698,-149.898625,"825 W 6th Ave, Anchorage, AK 99501, United States",ChIJVVN224C9yFYRmmjSJ1vPVj4,/biz/yamaya-seafood-restaurant-anchorage?osq=R...,0.123558,3.7,99501,58,...,0,7.2,1,61509,0,1,1,124,Takes Reservations\nOffers Takeout\nNo Deliver...,15
288,Yogo Delight,61.184160,-149.867577,"4007 Old Seward Hwy # 200, Anchorage, AK 99503...",ChIJT0w0d7yXyFYRcCATvyPkT6Y,/biz/yogo-delight-anchorage?osq=Restaurants,0.099800,4.4,99508,9,...,0,6.5,1,65430,0,1,0,116,Offers Takeout\nNo Reservations\nNo Delivery\n...,18
289,Zorba's Gyros,61.195857,-149.890254,"2700 Blueberry Rd, Anchorage, AK 99503, United...",ChIJI7cNe8WXyFYRuJw8-CPA5f4,/biz/zorbas-gyros-anchorage?osq=Restaurants,0.116808,4.4,99518,21,...,0,3.0,0,84045,0,1,1,80,Offers Takeout\nNo Reservations\nAccepts Credi...,11
290,Serrano's Mexican Grill,61.195468,-149.880141,"201 E Northern Lights Blvd, Anchorage, AK 9950...",ChIJH0A8uciXyFYRQvUedUNWEEU,/biz/serranos-mexican-grill-anchorage?osq=Rest...,0.141745,3.9,99577,13,...,1,3.5,1,111388,1,1,0,270,Offers Delivery\nOffers Takeout\nNo Reservatio...,20

In [8]:
# look at the first few rows (header)
gtky = pd.read_csv('day-1dataset.csv', index_col='Latitude')
gtky.head()

,Restaurant,Longitude,Address,PlaceID,URL,AverageExposure,Stars,ZIP,Count,White,...,HED,Unemployment,HUne,Wealth,HWe,Attraction,Hotspot,Reviews,Amenities,Amenity_Count
Latitude,,,,,,,,,,,,,,,,,,,,,
61.149140,61Sliders,-149.878090,"7920 King St, Anchorage, AK 99518",-,/biz/61sliders-anchorage?osq=Restaurants,0.124478,3.6,99507,22,20110,...,0,4.7,1,88485,0,1,0,1,Classy,1
61.148140,907 Alehouse & Grill,-149.863132,"8001 Old Seward Hwy, Anchorage, AK 99518, Unit...",ChIJsX90-NaZyFYRGJ_WD0iQlaA,/biz/907-alehouse-and-grill-anchorage?osq=Rest...,0.130601,3.4,99503,93,6167,...,0,7.9,1,63338,0,0,1,135,Takes Reservations\nOffers Takeout\nNo Deliver...,22
61.188415,907 Wingman,-149.907983,"3505 Spenard Rd, Anchorage, AK 99503, United S...",ChIJ4-dvWd2XyFYR-dL2s0DiD_0,/biz/907-wingman-anchorage?osq=Restaurants,0.109058,4.1,99508,9,15722,...,0,6.5,1,65430,0,1,1,110,Offers Delivery\nOffers Takeout\nNo Reservatio...,17
61.218773,AK Alchemist,-149.882808,"103 E 4th Ave, Anchorage, AK 99501, United States",ChIJt_B88yiWyFYRZQB7I68Jokk,/biz/ak-alchemist-anchorage?osq=Restaurants,0.164824,3.8,99501,58,9223,...,0,7.2,1,61509,0,1,1,178,Offers Delivery\nOffers Takeout\nNo Reservatio...,3
61.217756,Alaska Crepery,-149.888169,"319 W 5th Ave, Anchorage, AK 99501, United States",ChIJC6dwVAyXyFYR0ZZMmzzULww,/biz/alaska-crepery-anchorage-2?osq=Restaurants,0.161754,4.5,99507,22,20110,...,0,4.7,1,88485,0,1,1,164,Takes Reservations\nOffers Delivery\nOffers Ta...,16

In [10]:
# look at stats for the different classes
class_gtky = gtky.groupby("ZIP")
class_gtky.describe()

      Longitude                                                            \
          count        mean       std         min         25%         50%
ZIP
99501      56.0 -148.742000  8.439060 -149.982134 -149.896281 -149.888814
99502       6.0 -149.916733  0.045542 -149.983585 -149.943912 -149.912612
99503      94.0 -149.874413  0.058371 -149.952618 -149.904025 -149.885408
99504      10.0 -149.618327  0.699157 -149.915430 -149.890578 -149.836955
99507      23.0 -149.867175  0.043462 -149.913815 -149.893826 -149.885075
99508       9.0 -149.851966  0.054903 -149.907983 -149.890611 -149.867577
99515      39.0 -149.843831  0.090286 -149.915729 -149.893782 -149.874919
99517      15.0 -149.865809  0.090081 -149.937970 -149.915144 -149.892066
99518      21.0 -149.876652  0.074823 -149.942590 -149.897319 -149.890254
99540       4.0 -149.694135  0.216026 -149.893939 -149.874339 -149.692308
99577      14.0 -147.550504  8.720974 -149.982857 -149.892293 -149.873930

                              AverageExposure            ... Reviews          \
              75%         max           count      mean  ...     75%     max
ZIP                                                      ...
99501 -149.872529  -86.719709            56.0  0.153591  ...  230.25  2480.0
99502 -149.882729 -149.864476             6.0  0.115208  ...   70.00   155.0
99503 -149.868873 -149.563550            94.0  0.133839  ...  162.75  2967.0
99504 -149.766768 -147.636225            10.0  0.122940  ...  126.50   414.0
99507 -149.857953 -149.741059            23.0  0.105630  ...  198.00   426.0
99508 -149.839750 -149.734193             9.0  0.118777  ...  167.00   226.0
99515 -149.836392 -149.568249            39.0  0.110079  ...  135.50   607.0
99517 -149.861268 -149.570695            15.0  0.128230  ...  160.00   486.0
99518 -149.867133 -149.569488            21.0  0.121858  ...  141.00   358.0
99540 -149.512104 -149.497986             4.0  0.203595  ...   84.75   102.0
99577 -149.843747 -117.250918            14.0  0.103617  ...  190.00   270.0

      Amenity_Count
              count       mean       std   min    25%   50%    75%   max
ZIP
99501          56.0   8.285714  7.300596   2.0   3.00   4.0  14.25  27.0
99502           6.0  14.333333  3.983298  11.0  11.25  13.0  16.25  21.0
99503          94.0  13.361702  7.029662   0.0   9.00  14.0  17.00  31.0
99504          10.0  12.900000  7.125073   2.0   7.25  13.5  16.75  25.0
99507          23.0   6.434783  7.011848   0.0   2.00   4.0   8.50  23.0
99508           9.0  17.444444  6.710274   3.0  17.00  18.0  19.00  29.0
99515          39.0  12.435897  6.443254   0.0   8.00  14.0  16.00  32.0
99517          15.0  13.466667  5.755329   3.0  10.00  14.0  17.50  24.0
99518          21.0  15.380952  5.074211   5.0  12.00  16.0  19.00  27.0
99540           4.0  16.000000  4.320494  10.0  14.50  17.0  18.50  20.0
99577          14.0  14.500000  6.560371   2.0  11.50  15.5  18.75  25.0

[11 rows x 248 columns]

## Saving a DataFrame as a csv
- .to_csv()
- index=False
- header=False
- appending to csv (mode='a', header=None)

# Extra Credit Task 1

## Create code for the following questions and run the cells. If there are errors you need to discuss in the markdown cell why a particular cell did not work. Before submitting delete all the other cells!

Using the Titanic dataset do the following questions: 

a) Using iloc obtain all rows but only last 3 columns of the dataset

b) Using loc obtain all rows, but only last 2 coloumns of the dataset

c) Using boolean indexing, obtain all the rows where `fare` > 10.3

In [1]:
import seaborn as sns
import pandas as pd

titan = sns.load_dataset('titanic')

In [3]:
#a
print(titan.iloc[:, -3:])

     embark_town alive  alone
0    Southampton    no  False
1      Cherbourg   yes  False
2    Southampton   yes   True
3    Southampton   yes  False
4    Southampton    no   True
..           ...   ...    ...
886  Southampton    no   True
887  Southampton   yes   True
888  Southampton    no  False
889    Cherbourg   yes   True
890   Queenstown    no   True

[891 rows x 3 columns]

In [2]:
#b
print(titan.loc[:, ['alive', 'alone']])

    alive  alone
0      no  False
1     yes  False
2     yes   True
3     yes  False
4      no   True
..    ...    ...
886    no   True
887   yes   True
888    no  False
889   yes   True
890    no   True

[891 rows x 2 columns]

In [4]:
#c
print(titan.loc[titan['fare'] > 10.3, :])

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
3           1       1  female  35.0      1      0  53.1000        S   First
6           0       1    male  54.0      0      0  51.8625        S   First
7           0       3    male   2.0      3      1  21.0750        S   Third
8           1       3  female  27.0      0      2  11.1333        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
885         0       3  female  39.0      0      5  29.1250        Q   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck  embark_town alive  alone
1    woman       False    C    Cherbourg   yes  False
3    woman       False    C  Southampton   yes  False
6      man        True    E  Southampton    no   True
7    child       False  NaN  Southampton    no  False
8    woman       False  NaN  Southampton   yes  False
..     ...         ...  ...          ...   ...    ...
885  woman       False  NaN   Queenstown    no  False
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True

[554 rows x 15 columns]

# API
###  Definitions
**API** Application Program Interface
 - a server which gives out data (often over the internet)
 - note: 'API', in general, refers to the barrier between two pieces of software:
     - in this case, the server which hosts data & our own software which requests it

 **JSON** JavaScript Object Notation
  - a method of storing objects as text
  - much like the nested dictionaries ... JSON and similar formats are often trees

## OpenWeather API
What information does this offer?

[https://openweathermap.org/api](https://openweathermap.org/api)

How do I get ready to use it?
- sign up for an account
    - [https://home.openweathermap.org/users/sign_up](https://home.openweathermap.org/users/sign_up)
- get an api key (my key was emailed to me with my confirmation of account)
    - [https://home.openweathermap.org/api_keys](https://home.openweathermap.org/api_keys)
 
![ap](https://www.memecreator.org/static/images/memes/4593014.jpg)
        
Think of APIs as a hybrid of a website and a function.  Its a website where your query is stored in the address:
    
    https://api.openweathermap.org/data/3.0/onecall?lat=42.3601&lon=-71.0589&appid=YOUR-API-KEY-HERE-THIS-WONT-WORK&units=imperial
    
The result is a JSON object, which we can quickly convert to our dictionary of dictionary tree format.

In [5]:
# todo: swap this out
api_key = 'cf758020c3c57082bbfd8b62d88ca683'

# north = positive, south = negative
lat = 50.8823
# east = positive, west = negative
lon = 4.7138

# could use metric if you're feeling very European
units = 'metric'
url = f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&appid={api_key}&units={units}'
print(url)

https://api.openweathermap.org/data/3.0/onecall?lat=50.8823&lon=4.7138&appid=cf758020c3c57082bbfd8b62d88ca683&units=metric

In [6]:
import requests

# get url as a string
url_text = requests.get(url).text    
url_text

'{"lat":50.8823,"lon":4.7138,"timezone":"Europe/Brussels","timezone_offset":7200,"current":{"dt":1757453750,"sunrise":1757394441,"sunset":1757441397,"temp":12.39,"feels_like":11.93,"pressure":1015,"humidity":86,"dew_point":10.12,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.54,"wind_deg":110,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}]},"minutely":[{"dt":1757453760,"precipitation":0},{"dt":1757453820,"precipitation":0},{"dt":1757453880,"precipitation":0},{"dt":1757453940,"precipitation":0},{"dt":1757454000,"precipitation":0},{"dt":1757454060,"precipitation":0},{"dt":1757454120,"precipitation":0},{"dt":1757454180,"precipitation":0},{"dt":1757454240,"precipitation":0},{"dt":1757454300,"precipitation":0},{"dt":1757454360,"precipitation":0},{"dt":1757454420,"precipitation":0},{"dt":1757454480,"precipitation":0},{"dt":1757454540,"precipitation":0},{"dt":1757454600,"precipitation":0},{"dt":1757454660,"precipitation":0},{"dt":1757454720,"precipitation":0},{"dt":1757454780,"precipitation":0},{"dt":1757454840,"precipitation":0},{"dt":1757454900,"precipitation":0},{"dt":1757454960,"precipitation":0},{"dt":1757455020,"precipitation":0},{"dt":1757455080,"precipitation":0},{"dt":1757455140,"precipitation":0},{"dt":1757455200,"precipitation":0},{"dt":1757455260,"precipitation":0},{"dt":1757455320,"precipitation":0},{"dt":1757455380,"precipitation":0},{"dt":1757455440,"precipitation":0},{"dt":1757455500,"precipitation":0},{"dt":1757455560,"precipitation":0},{"dt":1757455620,"precipitation":0},{"dt":1757455680,"precipitation":0},{"dt":1757455740,"precipitation":0},{"dt":1757455800,"precipitation":0},{"dt":1757455860,"precipitation":0},{"dt":1757455920,"precipitation":0},{"dt":1757455980,"precipitation":0},{"dt":1757456040,"precipitation":0},{"dt":1757456100,"precipitation":0},{"dt":1757456160,"precipitation":0},{"dt":1757456220,"precipitation":0},{"dt":1757456280,"precipitation":0},{"dt":1757456340,"precipitation":0},{"dt":1757456400,"precipitation":0},{"dt":1757456460,"precipitation":0},{"dt":1757456520,"precipitation":0},{"dt":1757456580,"precipitation":0},{"dt":1757456640,"precipitation":0},{"dt":1757456700,"precipitation":0},{"dt":1757456760,"precipitation":0},{"dt":1757456820,"precipitation":0},{"dt":1757456880,"precipitation":0},{"dt":1757456940,"precipitation":0},{"dt":1757457000,"precipitation":0},{"dt":1757457060,"precipitation":0},{"dt":1757457120,"precipitation":0},{"dt":1757457180,"precipitation":0},{"dt":1757457240,"precipitation":0},{"dt":1757457300,"precipitation":0}],"hourly":[{"dt":1757451600,"temp":12.46,"feels_like":12.03,"pressure":1015,"humidity":87,"dew_point":10.36,"uvi":0,"clouds":13,"visibility":10000,"wind_speed":3.03,"wind_deg":95,"wind_gust":6.37,"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02n"}],"pop":0.25},{"dt":1757455200,"temp":12.39,"feels_like":11.93,"pressure":1015,"humidity":86,"dew_point":10.12,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.8,"wind_deg":96,"wind_gust":5.11,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"pop":0.03},{"dt":1757458800,"temp":12.53,"feels_like":12.14,"pressure":1015,"humidity":88,"dew_point":10.6,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":3.07,"wind_deg":101,"wind_gust":5.7,"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02n"}],"pop":0},{"dt":1757462400,"temp":12.62,"feels_like":12.26,"pressure":1015,"humidity":89,"dew_point":10.86,"uvi":0,"clouds":33,"visibility":10000,"wind_speed":3.3,"wind_deg":114,"wind_gust":6.28,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"pop":0},{"dt":1757466000,"temp":12.54,"feels_like":12.2,"pressure":1014,"humidity":90,"dew_point":10.95,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":3.14,"wind_deg":128,"wind_gust":5.82,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757469600,"temp":12.33,"feels_like":11.94,"pressure":1013,"humidity":89,"dew_point":10.57,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":3.06,"wind_deg":137,"wind_gust":5.06,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757473200,"temp":12.18,"feels_like":11.75,"pressure":1012,"humidity":88,"dew_point":9.75,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.11,"wind_deg":148,"wind_gust":4.84,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757476800,"temp":11.96,"feels_like":11.48,"pressure":1012,"humidity":87,"dew_point":9.42,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.06,"wind_deg":156,"wind_gust":4.67,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757480400,"temp":11.82,"feels_like":11.33,"pressure":1012,"humidity":87,"dew_point":9.37,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.94,"wind_deg":162,"wind_gust":3.74,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757484000,"temp":12.53,"feels_like":12.01,"pressure":1011,"humidity":83,"dew_point":9.65,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":2.72,"wind_deg":155,"wind_gust":4.46,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757487600,"temp":14.48,"feels_like":13.89,"pressure":1011,"humidity":73,"dew_point":10.04,"uvi":0.48,"clouds":83,"visibility":10000,"wind_speed":2.88,"wind_deg":149,"wind_gust":4.76,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"pop":0},{"dt":1757491200,"temp":16.74,"feels_like":16.09,"pressure":1011,"humidity":62,"dew_point":9.88,"uvi":1.16,"clouds":91,"visibility":10000,"wind_speed":3.21,"wind_deg":154,"wind_gust":4.91,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757494800,"temp":19,"feels_like":18.26,"pressure":1010,"humidity":50,"dew_point":9.06,"uvi":1.97,"clouds":94,"visibility":10000,"wind_speed":3.81,"wind_deg":161,"wind_gust":5.4,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757498400,"temp":20.82,"feels_like":19.95,"pressure":1009,"humidity":38,"dew_point":6.96,"uvi":2.99,"clouds":96,"visibility":10000,"wind_speed":4.22,"wind_deg":165,"wind_gust":6.15,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757502000,"temp":21.83,"feels_like":20.85,"pressure":1008,"humidity":30,"dew_point":5.24,"uvi":3.86,"clouds":88,"visibility":10000,"wind_speed":5.01,"wind_deg":171,"wind_gust":7.41,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757505600,"temp":21.04,"feels_like":20.04,"pressure":1007,"humidity":32,"dew_point":5.75,"uvi":4.08,"clouds":89,"visibility":10000,"wind_speed":6.93,"wind_deg":174,"wind_gust":7.36,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757509200,"temp":22.7,"feels_like":21.97,"pressure":1007,"humidity":36,"dew_point":6.91,"uvi":1.47,"clouds":100,"visibility":10000,"wind_speed":6.68,"wind_deg":170,"wind_gust":7.89,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757512800,"temp":23.57,"feels_like":22.92,"pressure":1006,"humidity":36,"dew_point":7.41,"uvi":2.59,"clouds":77,"visibility":10000,"wind_speed":5.94,"wind_deg":185,"wind_gust":8.12,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"pop":0},{"dt":1757516400,"temp":20.61,"feels_like":19.9,"pressure":1006,"humidity":45,"dew_point":8.29,"uvi":0.19,"clouds":88,"visibility":10000,"wind_speed":4.36,"wind_deg":163,"wind_gust":8.2,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757520000,"temp":23.9,"feels_like":23.08,"pressure":1005,"humidity":28,"dew_point":4.81,"uvi":0.76,"clouds":91,"visibility":10000,"wind_speed":6.43,"wind_deg":185,"wind_gust":8.76,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757523600,"temp":22.43,"feels_like":21.62,"pressure":1005,"humidity":34,"dew_point":5.86,"uvi":0.13,"clouds":93,"visibility":10000,"wind_speed":5.87,"wind_deg":214,"wind_gust":8.55,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757527200,"temp":19.59,"feels_like":18.91,"pressure":1006,"humidity":50,"dew_point":8.93,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":5.44,"wind_deg":208,"wind_gust":10.19,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757530800,"temp":18.43,"feels_like":17.74,"pressure":1006,"humidity":54,"dew_point":8.98,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.55,"wind_deg":194,"wind_gust":10.18,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0.09},{"dt":1757534400,"temp":17.89,"feels_like":17.33,"pressure":1006,"humidity":61,"dew_point":10.23,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.15,"wind_deg":209,"wind_gust":10.53,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0.02},{"dt":1757538000,"temp":16.87,"feels_like":16.47,"pressure":1006,"humidity":71,"dew_point":11.43,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.15,"wind_deg":208,"wind_gust":9.25,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757541600,"temp":16.48,"feels_like":16.09,"pressure":1006,"humidity":73,"dew_point":11.7,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.59,"wind_deg":195,"wind_gust":11.44,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757545200,"temp":16.05,"feels_like":15.69,"pressure":1005,"humidity":76,"dew_point":11.74,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":5.62,"wind_deg":191,"wind_gust":11.32,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"pop":0},{"dt":1757548800,"temp":15.59,"feels_like":15.24,"pressure":1005,"humidity":78,"dew_point":11.52,"uvi":0,"clouds":84,"visibility":10000,"wind_speed":5.89,"wind_deg":200,"wind_gust":12.66,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757552400,"temp":15.19,"feels_like":14.88,"pressure":1005,"humidity":81,"dew_point":11.97,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":6.39,"wind_deg":207,"wind_gust":13.46,"weather":[{"id":800,"main":"Clear","description":"clear sky","icon":"01n"}],"pop":0},{"dt":1757556000,"temp":15.91,"feels_like":15.65,"pressure":1005,"humidity":80,"dew_point":12.29,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":7.02,"wind_deg":212,"wind_gust":12.31,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757559600,"temp":15.46,"feels_like":15.23,"pressure":1006,"humidity":83,"dew_point":12.49,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":6.71,"wind_deg":210,"wind_gust":11.7,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757563200,"temp":14.76,"feels_like":14.56,"pressure":1006,"humidity":87,"dew_point":12.44,"uvi":0,"clouds":55,"visibility":10000,"wind_speed":6.79,"wind_deg":222,"wind_gust":12.39,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757566800,"temp":14.69,"feels_like":14.41,"pressure":1007,"humidity":84,"dew_point":11.88,"uvi":0,"clouds":56,"visibility":10000,"wind_speed":6.98,"wind_deg":235,"wind_gust":11.97,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}],"pop":0},{"dt":1757570400,"temp":15.92,"feels_like":15.47,"pressure":1007,"humidity":73,"dew_point":10.96,"uvi":0.09,"clouds":63,"visibility":10000,"wind_speed":6.79,"wind_deg":247,"wind_gust":10.56,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"pop":0},{"dt":1757574000,"temp":16.43,"feels_like":15.98,"pressure":1008,"humidity":71,"dew_point":11.07,"uvi":0.53,"clouds":55,"visibility":10000,"wind_speed":6.48,"wind_deg":250,"wind_gust":9.75,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"pop":0.13},{"dt":1757577600,"temp":17.29,"feels_like":16.75,"pressure":1008,"humidity":64,"dew_point":10.32,"uvi":1.36,"clouds":34,"visibility":10000,"wind_speed":7.03,"wind_deg":252,"wind_gust":9.47,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"pop":0.17},{"dt":1757581200,"temp":18.23,"feels_like":17.6,"pressure":1009,"humidity":57,"dew_point":9.23,"uvi":2.52,"clouds":32,"visibility":10000,"wind_speed":6.83,"wind_deg":253,"wind_gust":8.79,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"pop":0.36,"rain":{"1h":0.12}},{"dt":1757584800,"temp":18.73,"feels_like":18.12,"pressure":1009,"humidity":56,"dew_point":9.66,"uvi":3.73,"clouds":29,"visibility":10000,"wind_speed":7.58,"wind_deg":247,"wind_gust":9.2,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"pop":0.68,"rain":{"1h":0.35}},{"dt":1757588400,"temp":19.54,"feels_like":18.86,"pressure":1009,"humidity":50,"dew_point":8.67,"uvi":4.28,"clouds":38,"visibility":10000,"wind_speed":6.81,"wind_deg":238,"wind_gust":8.97,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"pop":0.84,"rain":{"1h":0.21}},{"dt":1757592000,"temp":21.33,"feels_like":20.51,"pressure":1009,"humidity":38,"dew_point":6.51,"uvi":4.5,"clouds":41,"visibility":10000,"wind_speed":7.96,"wind_deg":233,"wind_gust":9.07,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"pop":0.73},{"dt":1757595600,"temp":20.07,"feels_like":19.23,"pressure":1009,"humidity":42,"dew_point":6.6,"uvi":1.56,"clouds":100,"visibility":10000,"wind_speed":7.06,"wind_deg":229,"wind_gust":9.73,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757599200,"temp":20.56,"feels_like":19.77,"pressure":1008,"humidity":42,"dew_point":7.04,"uvi":1.54,"clouds":84,"visibility":10000,"wind_speed":7.69,"wind_deg":224,"wind_gust":10.25,"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"pop":0},{"dt":1757602800,"temp":19.06,"feels_like":18.2,"pressure":1008,"humidity":45,"dew_point":6.79,"uvi":0.16,"clouds":91,"visibility":10000,"wind_speed":5.48,"wind_deg":253,"wind_gust":10.4,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757606400,"temp":20.27,"feels_like":19.42,"pressure":1009,"humidity":41,"dew_point":6.81,"uvi":0.69,"clouds":91,"visibility":10000,"wind_speed":6.21,"wind_deg":253,"wind_gust":10.86,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757610000,"temp":18.07,"feels_like":17.29,"pressure":1009,"humidity":52,"dew_point":7.88,"uvi":0.05,"clouds":93,"visibility":10000,"wind_speed":3.32,"wind_deg":254,"wind_gust":6.91,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"pop":0},{"dt":1757613600,"temp":15.42,"feels_like":14.95,"pressure":1010,"humidity":74,"dew_point":10.62,"uvi":0,"clouds":97,"visibility":6656,"wind_speed":8.89,"wind_deg":241,"wind_gust":13.8,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"pop":0.83,"rain":{"1h":0.67}},{"dt":1757617200,"temp":13.59,"feels_like":13.28,"pressure":1010,"humidity":87,"dew_point":11.42,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":5.76,"wind_deg":203,"wind_gust":12.15,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10n"}],"pop":1,"rain":{"1h":0.93}},{"dt":1757620800,"temp":13.34,"feels_like":13.05,"pressure":1010,"humidity":89,"dew_point":11.29,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.68,"wind_deg":210,"wind_gust":13.18,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10n"}],"pop":1,"rain":{"1h":0.17}}],"daily":[{"dt":1757415600,"sunrise":1757394441,"sunset":1757441397,"moonrise":1757442960,"moonset":1757402040,"moon_phase":0.56,"summary":"Expect a day of partly cloudy with rain","temp":{"day":16.42,"min":12.46,"max":18.13,"night":12.46,"eve":16.27,"morn":14.3},"feels_like":{"day":16.28,"night":12.03,"eve":15.96,"morn":14.03},"pressure":1016,"humidity":83,"dew_point":11.65,"wind_speed":4.85,"wind_deg":81,"wind_gust":9.17,"weather":[{"id":501,"main":"Rain","description":"moderate rain","icon":"10d"}],"clouds":100,"pop":1,"rain":10.72,"uvi":3.94},{"dt":1757502000,"sunrise":1757480933,"sunset":1757527662,"moonrise":1757530320,"moonset":1757493720,"moon_phase":0.6,"summary":"There will be clear sky until morning, then partly cloudy","temp":{"day":21.83,"min":11.82,"max":23.9,"night":16.87,"eve":22.43,"morn":11.82},"feels_like":{"day":20.85,"night":16.47,"eve":21.62,"morn":11.33},"pressure":1008,"humidity":30,"dew_point":5.24,"wind_speed":6.93,"wind_deg":174,"wind_gust":10.53,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"clouds":88,"pop":0.09,"uvi":4.08},{"dt":1757588400,"sunrise":1757567425,"sunset":1757613926,"moonrise":1757617860,"moonset":1757585520,"moon_phase":0.64,"summary":"Expect a day of partly cloudy with rain","temp":{"day":19.54,"min":13.21,"max":21.33,"night":13.21,"eve":18.07,"morn":14.69},"feels_like":{"day":18.86,"night":12.94,"eve":17.29,"morn":14.41},"pressure":1009,"humidity":50,"dew_point":8.67,"wind_speed":8.89,"wind_deg":241,"wind_gust":13.8,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":38,"pop":1,"rain":2.45,"uvi":4.5},{"dt":1757674800,"sunrise":1757653918,"sunset":1757700191,"moonrise":1757705880,"moonset":1757677440,"moon_phase":0.68,"summary":"Expect a day of partly cloudy with rain","temp":{"day":15.94,"min":10.99,"max":18.53,"night":12.02,"eve":18.23,"morn":10.99},"feels_like":{"day":15.26,"night":11.26,"eve":17.36,"morn":10.52},"pressure":1016,"humidity":64,"dew_point":8.66,"wind_speed":8.91,"wind_deg":240,"wind_gust":13.62,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":47,"pop":1,"rain":1.77,"uvi":4.16},{"dt":1757761200,"sunrise":1757740410,"sunset":1757786455,"moonrise":1757794500,"moonset":1757769060,"moon_phase":0.71,"summary":"Expect a day of partly cloudy with rain","temp":{"day":13.99,"min":11.21,"max":15.42,"night":11.21,"eve":14.11,"morn":13.51},"feels_like":{"day":13.66,"night":10.79,"eve":13.69,"morn":12.9},"pressure":1015,"humidity":85,"dew_point":11.41,"wind_speed":7.05,"wind_deg":195,"wind_gust":13.47,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":100,"pop":0.93,"rain":1.39,"uvi":1.21},{"dt":1757847600,"sunrise":1757826902,"sunset":1757872718,"moonrise":1757884140,"moonset":1757859960,"moon_phase":0.75,"summary":"There will be clear sky until morning, then partly cloudy","temp":{"day":20.36,"min":9.24,"max":20.83,"night":18.84,"eve":17.15,"morn":9.36},"feels_like":{"day":19.44,"night":18.58,"eve":16.64,"morn":7.25},"pressure":1018,"humidity":38,"dew_point":5.65,"wind_speed":9.66,"wind_deg":200,"wind_gust":17.19,"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04d"}],"clouds":86,"pop":0,"uvi":4.41},{"dt":1757934000,"sunrise":1757913394,"sunset":1757958982,"moonrise":0,"moonset":1757949840,"moon_phase":0.78,"summary":"Expect a day of partly cloudy with rain","temp":{"day":19.83,"min":14.43,"max":19.83,"night":14.43,"eve":17.03,"morn":14.51},"feels_like":{"day":19.07,"night":13.76,"eve":16.17,"morn":14.08},"pressure":1017,"humidity":46,"dew_point":7.96,"wind_speed":10.14,"wind_deg":209,"wind_gust":17.25,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"clouds":53,"pop":0.73,"rain":0.42,"uvi":5},{"dt":1758020400,"sunrise":1757999887,"sunset":1758045245,"moonrise":1757974680,"moonset":1758038640,"moon_phase":0.82,"summary

In [7]:
# should not have to install the below
import json

# convert json to a nested dict
weather_dict = json.loads(url_text)

weather_dict.keys()

dict_keys(['lat', 'lon', 'timezone', 'timezone_offset', 'current', 'minutely', 'hourly', 'daily'])

In [8]:
weather_dict['hourly'][0]

{'dt': 1757451600,
 'temp': 12.46,
 'feels_like': 12.03,
 'pressure': 1015,
 'humidity': 87,
 'dew_point': 10.36,
 'uvi': 0,
 'clouds': 13,
 'visibility': 10000,
 'wind_speed': 3.03,
 'wind_deg': 95,
 'wind_gust': 6.37,
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'pop': 0.25}

# Extra Credit Opportunity 2

## Put a python code that does these two tasks:

1) Print the value in the `weather` key inside `hourly` key.
2) Print the value in the `description` key inside `weather` key

In [16]:
# 1
for element in weather_dict['hourly']:
    print(element['weather'])

# 2
for hour in weather_dict['hourly']:
    for w in hour['weather']:
        print(w['description'])

[{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}]
[{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]
[{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}]
[{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
[{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}]
[{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}]
[{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}]
few clouds
clear sky
few clouds
scattered clouds
broken clouds
broken clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
broken clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
broken clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
overcast clouds
broken clouds
clear sky
broken clouds
broken clouds
broken clouds
broken clouds
broken clouds
broken clouds
scattered clouds
light rain
light rain
light rain
scattered clouds
overcast clouds
broken clouds
overcast clouds
overcast clouds
overcast clouds
light rain
light rain
light rain

## Cleaning up data from one hour

In [6]:
from datetime import datetime
import pandas as pd

hour_dict = weather_dict['hourly'][0]
hour_dict

# lets convert from unix time to a datetime (easier to use)
hour_dict['datetime'] = datetime.fromtimestamp(hour_dict['dt'])

pd.Series(hour_dict)

dt                                                   1752004800
temp                                                      15.71
feels_like                                                15.24
pressure                                                   1019
humidity                                                     73
dew_point                                                 10.89
uvi                                                           0
clouds                                                       80
visibility                                                10000
wind_speed                                                 3.38
wind_deg                                                    292
wind_gust                                                  6.01
weather       [{'id': 803, 'main': 'Clouds', 'description': ...
pop                                                           0
datetime                                    2025-07-08 16:00:00
dtype: object

# Timestamps

Many datasets include a timestamp, or include a date/time as a feature in the dataset. Understanding how to deal with these can be important! We actually already used pandas `.to_datetime()` function with the Korean Demographics data to cast strings to `datetime` objects. We'll look a few time highlights which will come in handy on Homework 2.

## Unix Time

- [UTC](https://en.wikipedia.org/wiki/Coordinated_Universal_Time) Coordinated Universal Time
    - time zone at 0 deg longitude
        - how is 0 deg longitude defined?  
            - A succesfully warring empire (United Kingdom) chose it 
                - (It would be convenient if a metric system loving empire had been more successful at war ...)
- [Unix Time](https://en.wikipedia.org/wiki/Unix_time) is The number of seconds which have passed since 00:00:00 UTC on 1 Jan 1970 (ignoring leap seconds)
![unix](https://i.redd.it/o1li4ktbyf871.png)
- UTC is time zone agnostic 
    - (more on this next lesson...)

## Python's `datetime`, `timedelta`, and pytz
- helpful for all those pesky unit conversions

In [7]:
# use strptime to take the time from strings contain other words
datetime.strptime('the time is now: September-30-2024 9:20 PM', 'the time is now: %B-%d-%Y %H:%M %p')

datetime.datetime(2024, 9, 30, 9, 20)

In [8]:
# use strftime to cast a time to a string that contains other words
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
datetime.now().strftime('the time is now: %B-%d-%Y %H:%M %p')

'the time is now: July-08-2025 16:40 PM'

In [9]:
df_hourly = pd.DataFrame()
for hour_dict in weather_dict['hourly']:

    # lets convert from unix time to a datetime (easier to use)
    hour_dict['datetime'] = datetime.fromtimestamp(hour_dict['dt'])

    s_hour = pd.Series(hour_dict)
    
    df_hourly = pd.concat([df_hourly, s_hour.to_frame().T], ignore_index=True)
    
df_hourly.head()

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop,datetime
0,1752004800,15.71,15.24,1019,73,10.89,0,80,10000,3.38,292,6.01,"[{'id': 803, 'main': 'Clouds', 'description': ...",0,2025-07-08 16:00:00
1,1752008400,15.73,15.24,1019,72,10.7,0,100,10000,3.46,285,6.7,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-07-08 17:00:00
2,1752012000,15.49,15.03,1019,74,10.88,0,82,10000,3.2,281,6,"[{'id': 803, 'main': 'Clouds', 'description': ...",0,2025-07-08 18:00:00
3,1752015600,15.07,14.64,1019,77,11.07,0,68,10000,3.11,273,5.14,"[{'id': 803, 'main': 'Clouds', 'description': ...",0,2025-07-08 19:00:00
4,1752019200,14.47,14.09,1020,81,11.25,0,51,10000,2.83,260,3.69,"[{'id': 803, 'main': 'Clouds', 'description': ...",0,2025-07-08 20:00:00

## Extra Credit Opportunity 3

Capri, Italy is located at:

    40.5532° N, 14.2222° E


Dr. Singhal was there this summer! Here is the picture:

![f](https://www.dropbox.com/scl/fi/xzu6affw6bijn4aaf4m4q/IMG_3725.jpg?rlkey=mholpafjojr23usuz3r0pggp5&st=ouenmvvi&raw=1)

    
1. Create a dataframe of the next 48 hours of their weather as was done above
2. (++) Make a function `get_forecast` which accepts:
    - `lat`
    - `lon`
    - `api_key`
    - `units` (default = 'imperial')
    
    and returns a dataframe of the next 48 hours of the location's weather. Test it on a location of your choice.

In [ ]:
import requests
import datetime
import json
import pandas as pd

def get_forecast(lat, lon, api_key="cf758020c3c57082bbfd8b62d88ca683", units="imperial"):
    
    url = f'https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&appid={api_key}&units={units}'
    url_text = requests.get(url).text
    weather_dict = json.loads(url_text)
    df_hourly = pd.DataFrame()

    for hour_dict in weather_dict['hourly']:

        # lets convert from unix time to a datetime (easier to use)
        hour_dict['datetime'] = datetime.datetime.fromtimestamp(hour_dict['dt'])

        s_hour = pd.Series(hour_dict)
        
        df_hourly = pd.concat([df_hourly, s_hour.to_frame().T], ignore_index=True)
        
    return df_hourly

df = get_forecast(39.0392, 125.7625, api_key)
df.head(50)

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop,datetime
0,1757451600,18.06,17.98,1014,79,14.37,0,2,10000,1.64,83,1.6,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-09 17:00:00
1,1757455200,18.1,18.05,1014,80,14.6,0.15,2,10000,1.39,77,1.46,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-09 18:00:00
2,1757458800,18.49,18.43,1014,78,14.59,0.73,3,10000,1.1,30,1.56,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-09 19:00:00
3,1757462400,19.68,19.64,1014,74,14.92,1.86,8,10000,1.46,40,1.88,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-09 20:00:00
4,1757466000,21.71,21.69,1014,67,15.32,3.52,43,10000,1.48,33,1.89,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-09 21:00:00
5,1757469600,24.47,24.46,1014,57,15.4,5.45,46,10000,1.2,36,1.44,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-09 22:00:00
6,1757473200,27.54,27.73,1014,47,15.11,6.62,40,10000,1.34,351,1.71,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-09 23:00:00
7,1757476800,28.49,28.35,1013,43,14.82,6.53,30,10000,1.6,328,1.98,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-10 00:00:00
8,1757480400,28.91,28.7,1013,42,14.83,5.64,24,10000,2.27,311,2.63,"[{'id': 801, 'main': 'Clouds', 'description': ...",0,2025-09-10 01:00:00
9,1757484000,28.74,28.61,1013,43,15.04,4.03,20,10000,3.19,313,3.18,"[{'id': 801, 'main': 'Clouds', 'description': ...",0,2025-09-10 02:00:00
10,1757487600,28,28.45,1013,50,16.41,2.24,0,10000,3.35,314,3.14,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 03:00:00
11,1757491200,26.63,26.63,1013,57,16.94,0.93,0,10000,3.17,312,3.99,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 04:00:00
12,1757494800,24.57,24.78,1014,65,17.14,0.22,0,10000,2.76,310,3.86,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 05:00:00
13,1757498400,22.21,22.24,1014,67,15.36,0,0,10000,2.08,312,2.73,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 06:00:00
14,1757502000,21.39,21.28,1014,65,14.32,0,0,10000,1.71,324,1.8,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 07:00:00
15,1757505600,20.98,20.8,1015,64,13.64,0,0,10000,1.53,331,1.66,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 08:00:00
16,1757509200,20.47,20.22,1015,63,13.13,0,0,10000,1.31,330,1.29,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 09:00:00
17,1757512800,20.27,20.02,1015,64,13.06,0,0,10000,1.35,342,1.3,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 10:00:00
18,1757516400,19.9,19.67,1016,66,13.21,0,0,10000,1.35,350,1.34,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 11:00:00
19,1757520000,19.76,19.59,1016,69,13.72,0,0,10000,1.26,29,1.22,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 12:00:00
20,1757523600,19.5,19.39,1015,72,14.18,0,0,10000,1.3,33,1.33,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 13:00:00
21,1757527200,19.27,19.21,1015,75,14.61,0,0,10000,1.2,21,1.2,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 14:00:00
22,1757530800,19.14,19.12,1015,77,14.84,0,0,10000,1.31,27,1.29,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 15:00:00
23,1757534400,18.95,18.94,1016,78,14.98,0,0,10000,1.09,51,1.09,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 16:00:00
24,1757538000,18.64,18.65,1016,80,15.15,0,0,10000,1.15,56,1.14,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 17:00:00
25,1757541600,19.24,19.33,1017,81,15.68,0.15,0,10000,1.3,65,1.41,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 18:00:00
26,1757545200,21.01,21.12,1017,75,16.21,0.71,0,10000,1.28,63,1.77,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 19:00:00
27,1757548800,22.93,23.05,1017,68,16.61,1.86,0,10000,1.57,64,2.04,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 20:00:00
28,1757552400,24.75,24.9,1017,62,16.84,3.52,0,10000,1.66,68,2.06,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 21:00:00
29,1757556000,26.39,26.39,1017,57,17.13,5.23,0,10000,1.46,83,1.49,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 22:00:00
30,1757559600,27.64,28.39,1016,54,17.51,6.37,0,10000,1.35,91,1.31,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-10 23:00:00
31,1757563200,28.58,29.35,1016,52,17.83,6.52,0,10000,1.4,104,1.38,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 00:00:00
32,1757566800,29.14,29.97,1015,51,17.98,5.61,0,10000,1.49,139,1.59,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 01:00:00
33,1757570400,29.27,30.29,1015,52,18.28,4,0,10000,1.83,146,2.17,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 02:00:00
34,1757574000,29.17,30.14,1015,52,18.31,2.24,0,10000,1.78,164,2.19,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 03:00:00
35,1757577600,28.93,30.34,1015,56,19.08,0.92,0,10000,1.3,154,1.81,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 04:00:00
36,1757581200,27.25,28.65,1015,63,19.61,0.22,7,10000,0.45,181,0.67,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 05:00:00
37,1757584800,24.84,25.13,1015,67,18.14,0,31,10000,0.26,67,0.36,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-11 06:00:00
38,1757588400,23.9,24.17,1015,70,17.95,0,38,10000,0.41,65,0.61,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-11 07:00:00
39,1757592000,23.53,23.79,1015,71,17.81,0,48,10000,1.48,61,1.46,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-11 08:00:00
40,1757595600,22.92,23.17,1015,73,17.63,0,100,10000,1.65,63,1.65,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 09:00:00
41,1757599200,22.52,22.79,1015,75,17.79,0,100,10000,1.8,80,1.97,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 10:00:00
42,1757602800,21.89,22.2,1016,79,17.84,0,100,10000,2.11,74,2.87,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 11:00:00
43,1757606400,21.28,21.58,1016,81,17.68,0,100,10000,1.76,89,2.47,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 12:00:00
44,1757610000,20.48,20.75,1015,83,17.37,0,100,10000,2.06,93,2.56,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 13:00:00
45,1757613600,20.33,20.59,1015,83,17.18,0,100,10000,2.04,92,2.63,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 14:00:00
46,1757617200,19.58,19.84,1015,86,17.02,0,100,10000,1.69,89,2.21,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 15:00:00
47,1757620800,19.32,19.55,1015,86,16.86,0,100,10000,2.24,88,2.99,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-11 16:00:00

In [28]:
get_forecast(40.5532, 14.2222)

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop,datetime,rain
0,1757451600,74.26,74.03,1014,56,57.58,0,100,10000,10,149,11.83,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 17:00:00,NaN
1,1757455200,73.8,73.22,1014,50,54.01,0,100,10000,8.61,151,10.04,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 18:00:00,NaN
2,1757458800,73.98,73.71,1014,56,57.31,0,100,10000,7.18,151,7.76,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 19:00:00,NaN
3,1757462400,73.92,73.92,1014,62,60.1,0,100,10000,7.83,143,8.43,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 20:00:00,NaN
4,1757466000,74.34,74.62,1013,67,62.67,0,100,10000,8.55,139,9.13,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 21:00:00,NaN
5,1757469600,74.55,75.15,1013,73,65.34,0,100,10000,9.04,128,9.53,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 22:00:00,NaN
6,1757473200,73.85,74.61,1012,78,69.75,0,100,10000,12.75,119,13.58,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-09 23:00:00,NaN
7,1757476800,74.71,75.51,1012,77,69.46,0,100,10000,14.12,114,15.82,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-10 00:00:00,NaN
8,1757480400,74.68,75.36,1012,75,68.5,0,95,10000,14.29,117,16.67,"[{'id': 804, 'main': 'Clouds', 'description': ...",0,2025-09-10 01:00:00,NaN
9,1757484000,78.46,79.52,1013,75,68.72,0.36,84,10000,13.09,142,17.94,"[{'id': 803, 'main': 'Clouds', 'description': ...",0,2025-09-10 02:00:00,NaN
10,1757487600,76.19,77.13,1013,77,69.78,1.07,40,10000,11.43,164,16.06,"[{'id': 802, 'main': 'Clouds', 'description': ...",0,2025-09-10 03:00:00,NaN
11,1757491200,78.1,79.27,1014,78,70.54,2.12,54,10000,10.83,182,16.28,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.61,2025-09-10 04:00:00,{'1h': 0.12}
12,1757494800,80.31,85.21,1014,82,71.92,0.97,69,10000,10.2,171,14.12,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.72,2025-09-10 05:00:00,{'1h': 0.28}
13,1757498400,80.2,85.57,1013,86,72.88,5.06,76,10000,10.18,166,12.91,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.81,2025-09-10 06:00:00,{'1h': 0.43}
14,1757502000,82.98,93.54,1013,87,73.08,5.3,76,10000,10.65,196,12.75,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 07:00:00,{'1h': 1.78}
15,1757505600,82.2,91.53,1013,88,73.15,4.77,79,10000,11.61,201,12.97,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 08:00:00,{'1h': 1.15}
16,1757509200,77,78.49,1013,87,73.08,1.24,100,10000,10.96,186,12.24,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 09:00:00,{'1h': 1.07}
17,1757512800,76.8,78.13,1013,84,72.12,0.98,100,10000,10.69,203,11.9,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 10:00:00,{'1h': 1.57}
18,1757516400,77.7,78.93,1013,80,71.33,0.52,100,10000,5.88,216,7.27,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 11:00:00,{'1h': 0.39}
19,1757520000,77.83,79.07,1012,80,71.4,0.09,100,10000,3.76,162,3.49,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.8,2025-09-10 12:00:00,NaN
20,1757523600,77.59,78.76,1013,79,70.84,0,100,10000,7.16,200,7.45,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 13:00:00,{'1h': 0.28}
21,1757527200,77.32,78.51,1013,80,70.75,0,100,10000,7.56,197,8.19,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 14:00:00,{'1h': 0.49}
22,1757530800,76.89,78.04,1013,80,70.81,0,100,3399,8.95,202,9.71,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 15:00:00,{'1h': 0.61}
23,1757534400,76.28,77.41,1013,81,70.45,0,100,10000,9.66,254,11.36,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 16:00:00,{'1h': 1.52}
24,1757538000,74.86,75.85,1014,81,69.1,0,84,10000,11.92,285,11.59,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 17:00:00,{'1h': 0.4}
25,1757541600,73.15,74.21,1014,86,68.83,0,88,9135,6.71,257,7.81,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 18:00:00,{'1h': 2.73}
26,1757545200,73.56,74.48,1014,82,68.2,0,90,10000,4.85,202,6.17,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 19:00:00,{'1h': 0.48}
27,1757548800,73.78,74.71,1013,82,68.23,0,92,10000,6.35,237,6.62,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1,2025-09-10 20:00:00,{'1h': 1.28}
28,1757552400,74.79,75.69,1013,79,67.96,0,100,10000,8.72,263,9.84,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 21:00:00,{'1h': 1}
29,1757556000,75.07,75.85,1013,76,67.14,0,53,10000,6.93,273,7.94,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1,2025-09-10 22:00:00,{'1h': 0.27}
30,1757559600,75.06,75.74,1013,74,66.58,0,69,10000,5.7,262,6.26,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.74,2025-09-10 23:00:00,NaN
31,1757563200,74.64,75.29,1013,74,66.11,0,77,10000,5.12,274,4.81,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.86,2025-09-11 00:00:00,NaN
32,1757566800,74.32,74.93,1014,74,65.73,0,62,10000,3.27,267,2.8,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.82,2025-09-11 01:00:00,NaN
33,1757570400,74.16,74.75,1014,74,65.61,0.38,51,10000,2.71,286,2.75,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.73,2025-09-11 02:00:00,NaN
34,1757574000,74.21,74.86,1014,75,65.95,1.23,4,10000,3.62,294,3.87,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 03:00:00,NaN
35,1757577600,74.25,74.84,1015,74,65.53,2.63,3,10000,2.77,267,2.66,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 04:00:00,NaN
36,1757581200,74.39,74.97,1016,73,65.41,4.27,12,10000,2.37,276,2.59,"[{'id': 801, 'main': 'Clouds', 'description': ...",0,2025-09-11 05:00:00,NaN
37,1757584800,74.64,75.15,1016,71,65.3,5.66,7,10000,2.82,265,3.18,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 06:00:00,NaN
38,1757588400,75.04,75.52,1015,70,65.05,6.25,6,10000,4.12,272,4.81,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 07:00:00,NaN
39,1757592000,75.42,75.9,1016,69,64.9,5.91,5,10000,4.79,271,5.55,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 08:00:00,NaN
40,1757595600,75.7,76.17,1016,68,64.83,4.66,0,10000,5.32,273,6.11,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 09:00:00,NaN
41,1757599200,75.81,76.3,1016,68,64.99,2.97,0,10000,6.31,274,6.98,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 10:00:00,NaN
42,1757602800,75.87,76.35,1016,68,65.05,1.44,0,10000,7.05,282,7.7,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 11:00:00,NaN
43,1757606400,75.69,76.24,1016,70,65.41,0.47,0,10000,9.04,291,9.57,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 12:00:00,NaN
44,1757610000,75.27,75.83,1016,71,65.43,0,0,10000,10.85,302,11.18,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 13:00:00,NaN
45,1757613600,75.34,75.78,1016,68,64.49,0,0,10000,10.36,310,11.54,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 14:00:00,NaN
46,1757617200,75.33,75.7,1017,67,63.91,0,0,10000,9.17,312,10.96,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 15:00:00,NaN
47,1757620800,75.31,75.74,1017,68,64.11,0,0,10000,9.53,310,10.96,"[{'id': 800, 'main': 'Clear', 'description': '...",0,2025-09-11 16:00:00,NaN